$select-primary-color: var(--imagine-primary-color);
$select-box-shadow-focus: var(--imagine-input-box-shadow-focus);
$select-danger-color: var(--imagine-danger-color);
$select-grey-color: var(--imagine-grey-color);
$select-size-height: var(--imagine-input-height);
$select-label-distance: var(--imagine-label-distance);
$select-dropdown-icon-color: var(--imagine-select-icon-color);
$select-text-color: var(--imagine-text-color);
$select-font-size: var(--imagine-input-font-size);


:host{
    position: relative;
}


@mixin outlinePrimary{
  outline: 1px solid $select-primary-color;
  box-shadow: 0 0 0 0.3rem $select-box-shadow-focus;
}

.label-margin{
    margin-bottom: $select-label-distance;
}

.color-danger {
  color: $select-danger-color;
}

.imagine-select{
    details {
      position: relative;
      width: 100%;
      margin: 0px;
      margin-right: 10px;
      border-radius: 6px;
      margin-left: 1.7px;
      summary {
        transition: box-shadow .2s, outline .5s;
        font-size: $select-font-size;
        color: $select-text-color;
        font-weight: normal;
        cursor: pointer;
        border-radius: 5px;
        list-style: none;
        height:$select-size-height;
        display: flex;
        align-items: center;
        padding-right: 10px;
        padding-left: 5px;
        outline: 1px solid $select-grey-color;
        &:hover{
          outline: 1px solid $select-primary-color;
        }
        .imagine-option-selected{
            flex-grow: 3;
        }
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            &--start{
              border-top-left-radius: 7px;
              border-bottom-left-radius: 7px;
            }
            &--end{
              border-top-right-radius: 7px;
              border-bottom-right-radius: 7px;
            }
        }
      }
      
      summary::-webkit-details-marker {
        display: none;
      }

      summary[state="invalid"]{
        outline: 1px solid $select-danger-color;
        box-shadow: none;
      }

      
      summary[state="valid"]{
        &:hover{
          outline: 1px solid $select-primary-color;
        } 
        &:focus{
          @include outlinePrimary();
        }
      }

      .options {
        box-shadow:  0 2px 12px 0 rgb(0 0 0 / 10%);
        list-style: none;
        cursor: pointer;
        width: 100%;
        background: #fff;
        position: fixed;
        margin: -7px 0 0 0;
        box-sizing: border-box;
        border-radius: 5px;
        z-index: 9999;
        animation: fadeIn 0.1s ease-in;
        &__filter{
          background-color: #f8f9fa;
          padding: 0.75rem 1.25rem;
        }
        &__container{
          max-height: 200px;
          overflow-y: auto;
        }
      }

      .end-icons {
        margin-left: auto;
        display: flex;
      }
      
      .unselect-icon{
        color: $select-dropdown-icon-color;
        width: 14px;
        height: 14px;
        margin-right: 10px;
        position: relative;
        &:before, &:after {
          position: absolute;
          left: 0;
          content: ' ';
          height: 15px;
          width: 1px;
          background-color: $select-dropdown-icon-color;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
      
    }
    
    details[open] summary:before {
      content: '';
      display: block;
      background: transparent;
      position: fixed;
      top: 0;
      left: 0;
    }

    details[open]{
      summary[state="valid"]{
        @include outlinePrimary();
      }
    }
    // details[open] .select-icon {
    //   transform: rotateZ(225deg);
    //   margin-top: -3px;
    // }
    .select-icon {
        border-right: 2px solid; 
        border-bottom: 2px solid;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        margin-right: 10px;
        margin-top: -3px;
        border-radius: 2px;
        border-color: $select-dropdown-icon-color;
    }
}

  
  .msg-validator {
    font-size: 14px;
    color: $select-danger-color;
    margin: 0;
    margin-top: 5px;
  }

.outline-disable {
  outline: 1px solid $select-grey-color;
}    

.error-message{
  color: $select-danger-color;
  &--absolute{
      position: absolute;
      bottom: -17px;
  }
}