:root {
    --imagine-primary-color: #F79E54;
    --imagine-light-color: #fff;
    --imagine-dark-color: #000;
    --imagine-grey-color: #BBBBBD;
    --imagine-danger-color: #df2e34;
    --imagine-success-color: #51d082;
    --imagine-warning-color: #ffb818;
  }