.layout {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 100%;
    height: 100%;
  }
  
  .layout-no-nav {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  
  .layout div {
    margin-top: 30px;
  }
  
  .sidenav-container{
    margin-left: -10px;
  }