.element-attributes{
    background: white;
    animation-duration: .2s;
    z-index: 5;
    padding: 0 15px 0 5px;

}

.element-title-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
