$input-primary-color: var(--imagine-primary-color);
$input-danger-color: var(--imagine-danger-color);
$input-text-color: var(--imagine-text-color);
$input-grey-color: var(--imagine-grey-color);
$input-size-height: var(--imagine-input-height);
$input-label-distance: var(--imagine-label-distance);
$input-font-family: var(--imagine-font-family);
$input-font-size: var(--imagine-input-font-size);
$input-box-shadow-focus: var(--imagine-input-box-shadow-focus);


:host{
    position: relative;
}

@mixin labelUp{
    transform: translate(0px, -20px);
    font-size: 14px;
}

@mixin floatingLabel{
    position: absolute;
    padding: 5px;
    z-index: 4;
    background-color: white;
    transform: translateX(7px);
}

.imagine-input{
    outline: 1px solid $input-grey-color;
    border: none;
    border-radius: 7px;
    display: flex;
    width: 100%;
    height: $input-size-height;
    align-items: center;
    transition: box-shadow .1s;
    &__element{
        border-radius: inherit;
        color: $input-text-color;
        padding: 0 5px;
        border: none;
        height: 100%;
        outline: none;
        flex-grow: 3;
        font-family: $input-font-family;
        font-size: $input-font-size;
        &:focus + .floating-label,
        &:not(:placeholder-shown) + .floating-label{
            transition: all 0.1s;
            @include labelUp();
        }
        &:focus + .fixed-label,
        &:focus + .floating-label{
            color: $input-primary-color
        }
        &::-webkit-input-placeholder {
          font-size: $input-font-size;
          font-family: $input-font-family;
        }
          
        &:-moz-placeholder {
          font-size: $input-font-size;
          font-family: $input-font-family;
        }
        &::-moz-placeholder {
          font-size: $input-font-size;
          font-family: $input-font-family;
        }
        &:-ms-placeholder {
          font-size: $input-font-size;
          font-family: $input-font-family;
        }
          
          /* Change the white to any color */
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active{
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important;
        }
    }
    .floating-label{
       @include floatingLabel();
    }
    .fixed-label{
       @include floatingLabel();
       @include labelUp();
    }
}

.imagine-input[state="invalid"]{
    outline: 1px solid $input-danger-color;
    box-shadow: none;
}

.outline-primary{
    outline: 1px solid  $input-primary-color;
    box-shadow: 0 0 0 0.2rem $input-box-shadow-focus;
}

.outline-primary[state="invalid"]{
    box-shadow: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-content{
    padding: 0 2px;
}

.color-danger {
    color: $input-danger-color;
}

.label-margin{
    margin-bottom: $input-label-distance;
}

.error-message{
    color: $input-danger-color;
    position: absolute;
    bottom: -20px;
}