.responsive-text {
  @media only screen and (max-width: 1024px) {
    min-width: 110px;
    margin-top: 0 !important;
  }
}


:host ::ng-deep .segment-button{
  transition: border .2s;
  border-bottom: 2px solid var(--imagine-grey-color);
  &:hover{
    border-bottom: 2px solid #ADB5BD;
  }
}


.step-line{
  border: 1px solid var(--imagine-grey-color);
  width: 100%;
}