:root{
    --imagine-select-icon-color: #6C80A7;
    --imagine-selected-background-color: #f2edea;
    --imagine-select-option-over-color: #e9ecef;
    --imagine-select-option-padding: 0.75rem 1.25rem;
}