$selected-primary-color: var(--imagine-primary-color);

p {
    padding: 10px;
    border-bottom: 1px solid #ccc !important;
    display: flex;
    justify-content: space-between;
    &:hover {
      background: rgb(235, 234, 234);
    }
    &:last-child {
      border-bottom: none;
    }
}
  
.backgroundOver {
  background: rgb(235, 234, 234);
}

.hidden {
  display: none;
}

.disable{
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.check-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid transparent;
  border-radius: 100px;
  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: $selected-primary-color;
    transform-origin: bottom left;
    transform: rotate(45deg)
  }
}
