$selected-primary-color: var(--imagine-primary-color);
$selected-box-shadow-focus: var(--imagine-selected-background-color);
$select-option-padding: var(--imagine-select-option-padding);
$background-over-color: var(--imagine-selected-background-color);
$select-text-color: var(--imagine-text-color);


.imagine-select-option{
    padding: $select-option-padding;
    display: flex;
    justify-content: space-between;
    color: $select-text-color;
    &:hover {
      background: $background-over-color;
    }
    &:last-child {
      border-bottom: none;
    }
}
  
.backgroundOver {
  background: $background-over-color;
}

.hidden {
  display: none;
}

.disable{
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.selected{
  background-color: $selected-box-shadow-focus;
  color: $selected-primary-color;
}

.check-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid transparent;
  border-radius: 100px;
  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: $selected-primary-color;
    transform-origin: bottom left;
    transform: rotate(45deg)
  }
}
