:root{
    --imagine-button-height: 40px;
    --imagine-button-font-size: 16px;
    --imagine-button-disabled-color: #c0bfbf;
    --imagine-button-padding: 10px;
    --imagine-button-font-weight: normal;
    --imagine-button-border-radius: 10px;
}